.projCard {
    text-align: center;
    align-items: center;
    margin-top: 3.125em;
    margin-bottom: 6.25em;
    margin-right: 4.125em;
    margin-left: 0em;
}

.projImg {
    width: 90%;
    height: auto;
}